:root {
    --main-color: #FFFFFF;
    --second-color: #C73032;
    --accent-color: #264C5E;
    --light-accent-color: #bbc8cf;

    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

header {
    padding: 8%;
    text-align: center;
    font-size: 2.488rem;
    background-color: var(--second-color);
    color: var(--main-color);
    margin-bottom: 10%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-field {
    margin: 4%;
    font-size: 1.2rem;
}

.search-field option,
.search-field select {
    font-family: monospace;
    text-transform: capitalize;
    font-size: 1.2rem;
    cursor: pointer;
}

button {
    padding: 4%;
    font-size: 1.728rem;
    border: none;
    border-radius: 2rem;
    text-transform: capitalize;
    font-family: monospace;
    margin: 8%;
    cursor: pointer;
    background-color: var(--light-accent-color);
}

button:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
}

.spell-result {
    margin: 8% 4% 20% 4%;
}

.spell-result p {
    margin: 1% 1% 1% 0;
}

.box {
    margin: 4% 0 4% 0;
}

div.zero {
    margin: 0 0 4% 0;;
}

footer {
    padding: 4%;
    font-size: 1.2rem;
    background-color: var(--light-accent-color);
}

@media screen and (min-width: 991px) {
    /*
        minimize whitespace 
        increase font size
        
    */
}