:root {
    --main-color: #FFFFFF;
    --second-color: #C73032;
    --accent-color: #264C5E;
    --light-accent-color: #bbc8cf;

    font-size: 16px;
    --base-white-space: 4%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    height: 100%;
}

header {
    background-color: var(--second-color);
    color: var(--main-color);
    font-size: 2.488rem;
    padding: 8%;
    text-align: center;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6%;
}

.search-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin: 6% var(--base-white-space) 6% var(--base-white-space);
    gap: 1%;
}

.search-field option,
.search-field select {
    cursor: pointer;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: capitalize;
}

button {
    background-color: var(--light-accent-color);
    border-radius: 4rem;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.728rem;
    margin: 3%;
    padding: 1rem 2rem 1rem 2rem;
    min-width: 220px;
}

button:hover {
    background-color: var(--accent-color);
    color: var(--main-color);
}

.spell-result {
    margin: 6% var(--base-white-space) 0 var(--base-white-space);
    max-width: 558px;
}

.spell-result p {
    margin: 1% 1% 1% 0;
}

.box {
    margin: var(--base-white-space) 0 var(--base-white-space) 0;
}

footer {
    background-color: var(--light-accent-color);
    font-size: 1.2rem;
    padding: var(--base-white-space);
}

@media screen and (min-width: 991px) {
    header {
        padding: var(--base-white-space);
    }

    .button-container {
        flex-wrap: nowrap;
    }

    .spell-result {
        margin: var(--base-white-space) var(--base-white-space) 0% var(--base-white-space);
    }
    
    .box {
        margin: 2% 0 2% 0;
    }

    footer {
        padding: 2%;
    }
}